:root{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    --navbar-width: 12.5rem;
    --text-color: #7e898b;
    --text-color-darker: #464d4e;
    --text-color-light: #9ea4a7;
    --text-color-bright: #d6d6d6;
    --accent-color: #2b534c

    --navbar-text-color: #788486
}

label{
    display: block;
    margin-bottom: 8px;
    color: var(--text-color-light);
}

select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px 30px 10px 10px; /* Added extra padding on the right for the icon */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    width: 200px;
    cursor: pointer;
}

.filter-area{
    /* background-color: #bd7979; */
    width: 100%;
    height: 8.5rem;
    border-bottom: 1px solid #f0f0f0;
}

.table-area{
    width: 100%;
    margin-top: 1rem;
    padding-top: 1rem;
    /* background-color: #3f494b; */
    /* height: auto; */
}

.dropdown-label{
    font-size: 0.8rem;
    background-color: white;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    position: absolute;
    top: -8px;
    left: 10px;
    z-index: 90;
}

.dropdown-field{
    width: 18rem;
}

.dropdown-container{
    position: relative;
    margin-right: 0.5rem;
    margin-bottom: 1.5rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Custom dropdown arrow */
.dropdown::after {
    content: '\25BC'; /* Unicode character for a downward arrow */
    font-size: 12px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Basic Button Styling */
button {
    padding: 0px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #2b534c;
    color: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

button:hover {
    background-color: #3e796f;
}

button:active {
    background-color: #2c776b;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* width: 200px; */
    box-sizing: border-box;
  }

input[type="text"]:hover,
input[type="text"]:focus {
    border-color: #666;
}

.input-field{
    width: 15rem;
    margin-right: 0.25rem;
}

.input-field-inner-label{
    font-size: 0.8rem;
    background-color: white;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    position: absolute;
    top: -10px;
    left: 10px;
    z-index: 90;
}

.search-container{
    position: relative;
    margin-right: 2rem;
}

.search-bar{
    width: 25rem;
}

table, th, td {
    font-size: 12px; /* Adjust the font size as needed */
  }

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    white-space: nowrap;
    border-radius: 3px; /* Add border radius to the entire table */
    overflow: hidden; /* Ensure rounded corners are visible */
}


th, td {
    padding: 3px;
    border: 1px solid #ddd;
    text-align: left;
    white-space: nowrap;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

/* Alternate row coloring */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Hover effect on rows */
tr:hover {
    background-color: #e5e5e5;
}

.table-header th{
    border: 1px solid #dcdfde;
    color: #717575;
}

.date{
    padding: 0px 5px;
    background-color: #c0d6eb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.time{
    padding: 0px 5px;
    background-color: #ebcec0;
    border-radius: 3px;
}

.approval-status{
    padding: 0px 10px;
    background-color: #3cf574;
    border-radius: 3px;
}