.c-container{
    border: 1px solid #333; /* border width and color */
    border-radius: 10px;   /* border radius for rounded corners */
    padding: 10px;
    width: 50rem;
}

.data-column{
    padding-right: 1rem;
}

.staging-area{
    border-top: 1px solid #f0f0f0;
    width: 30rem;
}