:root{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    --navbar-width: 12.5rem;
    --text-color: #7e898b;
    --text-color-darker: #464d4e;
    --text-color-light: #9ea4a7;
    --text-color-bright: #d6d6d6;
    --accent-color: #2b534c

    --navbar-text-color: #788486
}

body{
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
}

main{
    margin-left: var(--navbar-width);
    padding: 2rem;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}

i{
    color: var(--text-color);
}

.navbar{
    width: var(--navbar-width);
    height: 100vh;
    position: fixed;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.navbar-nav{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    font-size: 0.85rem;
    font-weight: normal;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav-item:last-child{
    margin-top: auto;
    margin-bottom: 2rem;
}

.nav-icon{
    font-size: 24px;
}

.nav-item:hover,
.nav-item:hover .link-text,
.nav-item:hover .material-icons{
    background-color: #2b534c;
    color: white;
}

.nav-item:hover .nav-link svg path{
    fill: white
}


.nav-link svg path {
    fill: var(--accent-color)
}

.nav-link{
    display: flex;
    align-items: center;
    align-content: center;
    height: 2rem;
    padding-left: 1.25rem;
}

.nav-item:hover .nav-link svg{
    fill: #bdcecb; /* Set the fill color */

}

.nav-link svg{
    fill: #bdcecb; /* Set the fill color */
}

.link-text{
    color: var(--accent-color);
    margin-left: 1rem;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.logo-icon{
    width: 5rem; /* Set the width of the logo */
    height: auto; /* Maintain the aspect ratio */
    margin: 0;
    padding: 0;
}

.bg-home {
    background-image: url('/images/coverage-50.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 60vh;
    /* opacity: 0.5; */
}

.user-icon path{
    fill: #2b534c;
}

.circle {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: rgb(241, 241, 241); /* Optional background color */
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
}