:root{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    --navbar-width: 12.5rem;
    --text-color: #7e898b;
    --text-color-darker: #464d4e;
    --text-color-light: #9ea4a7;
    --text-color-bright: #d6d6d6;
    --accent-color: #2b534c

    --navbar-text-color: #788486
}

body{
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
}

h2{
    color: var(--text-color-darker);
    padding: 0;
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-weight: 300;
}

main{
    margin-left: var(--navbar-width);
    padding: 2rem;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}

i{
    color: var(--text-color);
}

.navbar{
    width: var(--navbar-width);
    height: 100vh;
    position: fixed;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.navbar ul ul{
    display: none;
    position: absolute;
    top: 0rem;
    left: var(--navbar-width);
    background-color: white;
    /* background-color: red; */
    width: 16rem;
    /* width: var(--navbar-width) * 2; */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    /* box-shadow: -2px -2px -5px rgba(0, 0, 0, 0.1); */
    /* box-shadow: inset 2px 0px 5px 0px rgba(0, 0, 0, 0.1); */


}

.navbar ul .nav-dropdown{
    position: relative;
}

.navbar ul .nav-dropdown:hover ul{
    display: initial;
}

.navbar-nav{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    font-size: 0.85rem;
    font-weight: normal;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav-item:last-child{
    margin-top: auto;
    margin-bottom: 2rem;
}

.nav-icon{
    font-size: 24px;
}

.nav-item:hover,
.nav-item:hover .link-text{
    background-color: #2b534c;
    color: white;
}

.nav-item:hover .nav-link svg path{
    fill: white
}

.nav-item-inner{
    font-size: 0.85rem;
    font-weight: normal;
    padding-left: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav-item-inner:hover{
    background-color: #2b534c;
}

.nav-item-inner:hover .link-text-inner{
    color: white;
}

.nav-link svg path {
    fill: var(--accent-color)
}

.nav-link{
    display: flex;
    align-items: center;
    align-content: center;
    height: 2rem;
    padding-left: 1.25rem;
}

.nav-item:hover .nav-link svg{
    fill: #bdcecb; /* Set the fill color */

}

.nav-link svg{
    fill: #bdcecb; /* Set the fill color */
}

.link-text{
    color: var(--accent-color);
    margin-left: 1rem;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.logo-icon{
    width: 5rem; /* Set the width of the logo */
    height: auto; /* Maintain the aspect ratio */
    margin: 0;
    padding: 0;
}

.bg-home {
    background-image: url('/images/coverage-50.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 75vh;
    /* opacity: 0.5; */
}

.user-icon path{
    fill: #2b534c;
}

.user-icon-circle {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: rgb(241, 241, 241); /* Optional background color */
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.user-profile{
    padding-left: 1rem;
    display: flex;
    flex-direction: column;

}

.user-username{
    font-size: 1.25rem;
    font-weight: 800;
    /* color: var(--text-color-darker); */
    color: #3e3f3e;
}

.user-office{
    font-size: 0.85rem;
    color: var(--text-color-light);
}

.user-title{
    font-size: 1rem;
    color: var(--text-color-light);
}

.user-session{
    margin-left: auto;
}
